{include file="admin/top.html"}
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="tableBorder">
  <tr>
    <th height="25">友情链接管理</th>
  </tr>
  <tr>
    <td height=25 class="pl20"><b>管理选项：</b><a href="index.php?m=link&c=link">管理首页</a> | <a href="index.php?m=link&c=link&f=add">添加友情链接</a>&nbsp;|&nbsp;[<a href="javascript:location.reload()">刷新页面</a>]</td>
  </tr>
</table>
<table width="100%" border="0" align="center" cellspacing="1" cellpadding="2" class="tableBorder mt6">
<form name="addform" action="index.php?m=link&c=link&f=addsave" method="post">
    <tr>
    <th colspan="4">添加友情链接</th>
  </tr>
  <tr>
    <td width="24%" align="right">名称：</td>
    <td width="76%" colspan="3"><input type="text" name="title" class="txt" size="30"></td>
  </tr>
  <tr>
    <td align="right">链接地址：</td>
    <td colspan="3"><input type="text" name="url" class="txt" size="30"> *请填写完整路径，如：http://www.chinabang.net</td>
  </tr>
  <tr>
    <td colspan="4" align="right" class="tdpage">
      <input type="submit" name="submit" value=" 保 存 " class="inputs" /></td>
    </tr>
  </form>
</table>
<table border="0" align="center" cellpadding="2" cellspacing="1" class="tableBorder" style="margin-top:6px; margin-bottom:10px;">
<tr align=center>
<td width="100%" class=copyright>Copyright (c) 2011-2015 北京市北科信息处理公司, All Rights Reserved ,</td>
</tr></table>
</body>
</html>
