<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{if $cat['seo_title']==''}{$cat['catname']}{else}{$cat['seo_title']}{/if}</title>
<meta name="Keywords" content="{$cat['seo_key']}" />
<meta name="Description" content="{$cat['seo_des']}" />
{include file="default/header_js.html"}
</head>

<body>

<center>

<div id="wraper" style="margin-top: 18px;">
{include file="default/header.html"} 
 
<!--页面中间内开始容-->
<div class="homeCon">
	<!--mainBox starts here-->
	<div class="mainBox">
		<!--mainRoute-->
		<div class="mainRoute">当前位置：<a href="/">首页</a> >{$cat['catname']}</div>
		<!--mainNav-->
		<div class="mainNav">
		{include file="default/left_solution.html"} 
		</div>
		<div class="mainCon">
			<div class="mainThird">
				<div style="width: 720px; height: 115px; background: url('{$image_path}solve.gif') repeat scroll 0% 0% transparent;"></div>
				<div class="mainConHr3_0"></div>
				
				<div class="main1Con">
			
			{loop catid=$cat['catid'] order="sort" pages='page' rows="6"}
            	
				<div class="main1Tl"><a class="mainTl" href="{$r.url}"><img src="{$image_path}more.png" border="0"> {$r.title}</a></div>
				<div class="main1Con">
					<p class="p1">{$r.description}</p>		
				</div>
				<ul class="main1ConUl">
					<!--<li><a class="red" href="http://www.eisoo.com/cn/products/ab/"><span class="">AnyBackup Family</span></a>——适用于中型用户备份容灾需求</li>
					<li><a class="red" href="http://www.ebackup.cn/">EBackup.cn</a>——适用于中小型用户备份容灾需求</li>
					<li><a class="red" href="http://www.eisoo.com/cn/products/tx3/yg/">TxCloud</a>——适用于中大型用户备份容灾需求</li>
					-->
					{$r.content|truncate_cn:60}
				</ul>
				<div class="mainConHr1"></div>

				{/loop}		
			<!--{$pages}-->
		</div>
		<div class="mainSecond"><script type="text/javascript" src="{$css_path}mainnav_centertest.js"></script></div>
			</div>
		</div>
		<div class="footLine"></div>
	</div>
  	<!--mainBox ends here-->
</div>
<!--页面中间内容结束-->
{include file="default/footer.html"}  
</div>

</center>



</body>
</html>