<script src="{$css_path}ga.js" async="" type="text/javascript"></script>
<script language="JavaScript" src="{$css_path}comm.js" type="text/javascript"></script>
<script language="JavaScript" src="{$css_path}swf.js" type="text/javascript"></script>
<script language="JavaScript" src="{$css_path}jquery1.3.2.js" type="text/javascript"></script>
<script type="text/javascript" src="{$css_path}tab.js"></script>
<link rel="stylesheet" type="text/css" href="{$css_path}index.css" media="all">
<link rel="stylesheet" type="text/css" href="{$css_path}css.css" media="all">
<link rel="stylesheet" media="all" type="text/css" href="{$css_path}menu_style.css" />
<!--[if IE]>
<link rel="stylesheet" media="all" type="text/css" href="{$css_path}ie.css" />
<![endif]-->
<script>
function setTab(n){
	var tli=document.getElementById("tabHomeMenu").getElementsByTagName("li");
	var mli=document.getElementById("tabHomeCon").getElementsByTagName("span");
	for(i=0;i<tli.length;i++){
	   tli[i].className=i==n?"hover":"";
	   mli[i].style.display=i==n?"block":"none";
	}
}
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15158967-1']);
  _gaq.push(['_setDomainName', '.eisoo.com']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>




<script type="text/javascript"><!--//--><![CDATA[//><!--
sfHover = function() {
	var sfEls = document.getElementById("topNav").getElementsByTagName("li");
	for (var i=0; i<sfEls.length; i++) {
		sfEls[i].onmouseover=function() {
			this.className+=" sfhover";
		}
		sfEls[i].onmouseout=function() {
			this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
		}
	}
}
if (window.attachEvent) window.attachEvent("onload", sfHover);
//--><!]]></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15158967-1']);
  _gaq.push(['_setDomainName', '.eisoo.com']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script><script src="css/ga.js" type="text/javascript"></script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15158967-1");
pageTracker._setDomainName(".eisoo.com");
pageTracker._trackPageview();
} catch(err) {}</script>