{include file="admin/top.html"}
{nocache}
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="tableBorder">
  <tr>
    <th height="25">字段管理</th>
  </tr>
  <tr>
    <td height=25 class="pl20"><b>管理选项：</b><a href="index.php?m=member&c=admin&f=field">管理首页</a> | <a href="index.php?m=member&c=admin&f=field_add">添加字段</a> | <a href="index.php?m=member&c=admin&f=update_field_cache">更新字段缓存</a> | [<a href="javascript:location.reload()">刷新页面</a>]</td>
  </tr>
</table>
<table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" class="tableBorder">
<tr>
    <th colspan=5 height=25>字段列表</th>
</tr>
<tr align="center"> 
    <td width="5%" height=25>排序</td>
    <td width="20%">文字</td>
    <td width="10%">字段名称</td>
    <td width="10%">类型</td>
    <td width="10%">操作</td>
</tr>
{foreach from=$fields item=value key=k}
<tr align="center"> 
    <td height=25>{$value['sort']}</td>
    <td>{$value['name']}</td>
    <td>{$value['field']}</td>
    <td>{$value['formtype']}</td>
    <td><a href="index.php?m=member&c=admin&f=field_edit&id={$value['fieldid']}">编辑</a> | {if $value['is_fixed']==0}<a href="index.php?m=member&c=admin&f=field_delete&id={$value['fieldid']}">删除</a>{else}<font color='#FF0000'>删除</font>{/if}</td>
</tr>
{/foreach}
</table>
{/nocache}
{include file="admin/footer.html"}
</body>
</html>