{include file="admin/top.html"}
{nocache}
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="tableBorder">
  <tr>
    <th height="25">会员组管理</th>
  </tr>
  <tr>
    <td height=25 class="pl20"><b>管理选项：</b><a href="index.php?m=member&c=group">管理首页</a> | <a href="index.php?m=member&c=group&f=add">添加会员组</a> | <a href="index.php?m=member&c=group&f=cache">更新会员组缓存</a> | [<a href="javascript:location.reload()">刷新页面</a>]</td>
  </tr>
</table>
<table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" class="tableBorder">
<tr>
    <th colspan=5 height=25>会员组列表</th>
</tr>
<tr align="center"> 
    <td width="5%" height=25>编号</td>
    <td>会员组名</td>
    <td width="12%">操作</td>
</tr>
{loop sql="select * from {$pre}member_group order by groupid desc" pages="page"}
<tr align="center"> 
    <td height=25>{$r.groupid}</td>
    <td align="left">{$r.name}</td>
    <td><a href="index.php?m=member&c=group&f=edit&id={$r.groupid}">编辑</a> | <a href="index.php?m=member&c=group&f=delete&id={$r.groupid}">删除</a></td>
</tr>
{/loop}
<tr>
	<td height="25" align="center" colspan="8" class="tdpage">{$pages}</td>
</tr>
</table>
{/nocache}
{include file="admin/footer.html"}
</body>
</html>