{include file="admin/top.html"}
{nocache}
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="tableBorder">
  <tr>
    <th height="25">会员管理</th>
  </tr>
  <tr>
    <td height=25 class="pl20"><b>管理选项：</b><a href="index.php?m=member&c=admin">管理首页</a> | <a href="index.php?m=member&c=admin&f=field">会员模型</a> | [<a href="javascript:location.reload()">刷新页面</a>]</td>
  </tr>
</table>
<table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" class="tableBorder">
<tr>
    <th colspan=5 height=25>会员管理列表</th>
</tr>
<tr align="center"> 
    <td width="5%" height=25>编号</td>
    <td width="31%">用户名</td>
    <td width="40%">注册时间</td>
    <td width="12%">是否锁定</td>
    <td width="12%">操作</td>
</tr>
{loop sql="select * from {$pre}member order by userid desc" pages="page"}
<tr align="center"> 
    <td height=25>{$r.userid}</td>
    <td align="left">{$r.username}</td>
    <td>{$r.creat_time|date_format:'%Y-%m-%d'}</td>
    <td>{if $r.is_lock==1}<a href="index.php?m=member&c=admin&f=lock&id={$r.userid}&lockid=0"><font color='#FF0000'>已锁定</font></a>{else}<a href="index.php?m=member&c=admin&f=lock&id={$r.userid}&lockid=1">正常</a>{/if}</td>
    <td><a href="index.php?m=member&c=admin&f=edit&id={$r.userid}">编辑</a> | <a href="index.php?m=member&c=admin&f=delete&id={$r.userid}">删除</a></td>
</tr>
{/loop}
<tr>
	<td height="25" align="center" colspan="8" class="tdpage">{$pages}</td>
</tr>
</table>
{/nocache}
{include file="admin/footer.html"}
</body>
</html>