{include file="admin/top.html"}
{nocache}
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="tableBorder">
  <tr>
    <th height="25">字段管理</th>
  </tr>
  <tr>
    <td height=25 class="pl20"><b>管理选项：</b><a href="index.php?m=form&c=form&f=field&formid={$formid}">管理首页</a> | <a href="index.php?m=form&c=form&f=field_add&formid={$formid}">添加字段</a> | <a href="index.php?m=form&c=form&f=update_field_cache&formid={$formid}">更新字段缓存</a> | [<a href="javascript:location.reload()">刷新页面</a>]</td>
  </tr>
</table>
<table width="100%" border="0" align="center" cellspacing="1" cellpadding="2" class="tableBorder mt6">
<form name="addform" action="index.php?m=form&c=form&f=field_add_save" method="post">
    <tr>
    <th colspan="4">添加字段</th>
  </tr>
  <tr>
    <td align="right">文字名称:</td>
    <td colspan="3"><input type="text" name="name" class="txt" size="30" id="name"></td>
  </tr>
  <tr>
    <td align="right">字段名称:</td>
    <td colspan="3"><input type="text" name="field" class="txt" size="30" id="field"></td>
  </tr>
  <tr>
    <td align="right">字段类型:</td>
    <td colspan="3"><select name="formtype" id="formtype" class="formtype" onChange="fieldtype(this.value)">
    {foreach from=$fields item=value key=k}
      <option value="{$k}">{$value}</option>
    {/foreach}
      </select> <div id="text_show" style="display:none;">宽：<input type="text" name="width" class="txt" size="4" id="width"></div><div id="textarea_show" style="display:none;"> 高：<input type="text" name="height" class="txt" size="4" id="height"></div></td>
  </tr>
  
  <tr>
    <td align="right">排序:</td>
    <td colspan="3"><input type="text" name="sort" class="txt" size="10" id="sort" value="0"></td>
  </tr>
  <tr>
    <td align="right">字段说明:</td>
    <td colspan="3"><input type="text" name="explain" class="txt" size="30" id="explain"></td>
  </tr>
  <tr>
    <td align="right">是否固定:</td>
    <td colspan="3">
      <input name="is_fixed" type="radio" id="is_fixed" value="1" />
      是 
      <input name="is_fixed" type="radio" id="is_fixed" value="0" checked="checked" />
      否</td>
  </tr>
  <tr>
    <td align="right">默认值:</td>
    <td colspan="3"><font color="#ff0000">当选择为选项时,此即选项列表内容,列表值之间用英文逗号(,)分隔</font><br><textarea name="initial" id="initial" cols="45" rows="5"></textarea></td>
  </tr>
  <tr>
    <td colspan="4" align="right" class="tdpage">
      <input type="hidden" name="formid" id="formid" value="{$formid}" />
      <input type="submit" name="submit" value=" 保 存 " class="inputs" /></td>
    </tr>
  </form>
</table>
{/nocache}
{include file="admin/footer.html"}
</body>
</html>
