{include file="admin/top.html"}
{nocache}
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="tableBorder">
  <tr>
    <th height="25">自定义表单管理</th>
  </tr>
  <tr>
    <td height=25 class="pl20"><b>管理选项：</b><a href="index.php?m=form&c=form">管理首页</a> | <a href="index.php?m=form&c=form&f=form_add">添加表单</a> | <a href="index.php?m=form&c=form&f=cache">更新表单缓存</a> | [<a href="javascript:location.reload()">刷新页面</a>]</td>
  </tr>
</table>
<table width="100%" border="0" align="center" cellspacing="1" cellpadding="2" class="tableBorder mt6">
<form name="addform" action="index.php?m=form&c=form&f=form_edit_save" method="post">
    <tr>
    <th colspan="4">表单编辑</th>
  </tr>
  <tr>
    <td align="right">表单名称：</td>
    <td colspan="3"><input type="text" name="formname" class="txt" size="30" id="formname" value="{$rs['form_name']}"></td>
  </tr>
  <tr>
    <td align="right">表单数据表:</td>
    <td colspan="3"><input type="text" name="formtable" class="txt" size="30" id="formtable" value="{$rs['form_table']}" disabled></td>
  </tr>
  <tr>
    <td align="right">是否开启:</td>
    <td colspan="3">
      <input name="is_lock" type="radio" id="is_lock" value="1" {if $rs['is_lock']==1}checked="checked"{/if} />
      是 
      <input type="radio" name="is_lock" id="is_lock" value="0" {if $rs['is_lock']==0}checked="checked"{/if}/>
      否</td>
  </tr>
  <tr>
    <td align="right">是否固定:</td>
    <td colspan="3">
      <input name="is_fixed" type="radio" id="is_fixed" value="1" {if $rs['is_fixed']==1}checked="checked"{/if} {if $rs['is_fixed']==1}disabled{/if}/>
      是 
      <input name="is_fixed" type="radio" id="is_fixed" value="0" {if $rs['is_fixed']==0}checked="checked"{/if} {if $rs['is_fixed']==1}disabled{/if}/>
      否</td>
  </tr>
  <tr>
    <td align="right">是否自动发送Email:</td>
    <td colspan="3">
      <input name="is_email" type="radio" id="is_email" value="1" {if $rs['is_email']==1}checked="checked"{/if} />
      是 
      <input type="radio" name="is_email" id="is_email" value="0" {if $rs['is_email']==0}checked="checked"{/if}/>
      否</td>
  </tr>
  <tr>
    <td colspan="4" align="right" class="tdpage"><input name="id" type="hidden" id="id" value="{$rs['id']}" />
      <input type="submit" name="submit" value=" 保 存 " class="inputs" /></td>
    </tr>
  </form>
</table>
{/nocache}
{include file="admin/footer.html"}
</body>
</html>
