<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>会员中心</title>
<base href="{$config['siteurl']}">
<link href="{$css_path}css.css" type=text/css rel=stylesheet>
</head>

<body>
{include file="default12/header.html"}
<div class="main t5">
{include file="default12/member/left.html"}
    <div class="right">
    	<h1><span><a href="/">首页</a> > 会员中心</span><div>会员中心</div></h1>
        <div class="content">
您好,{$member['username']},欢迎您回来<br>您已经是第{$member['logins']}次登录我们网站了，您的详细信息如下：<br>注册时间：{$member['creat_time']|date_format:'%Y-%m-%d'}<br>最后登录时间：{$member['last_time']|date_format:'%Y-%m-%d'}<br>最后登录IP：{$member['last_ip']}
        </div>
    </div>
</div>
{include file="default12/footer.html"}
</body>
</html>