{include file="admin/top.html"}
{nocache}
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="tableBorder">
  <tr>
    <th height="25">碎片管理</th>
  </tr>
  <tr>
    <td height=25 class="pl20"><b>管理选项：</b><a href="index.php?m=91736&c=block">管理首页</a> | <a href="index.php?m=91736&c=block&f=add">添加碎片</a> | [<a href="javascript:location.reload()">刷新页面</a>]</td>
  </tr>
</table>
<table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" class="tableBorder">
<tr>
    <th colspan=6 height=25>碎片列表</th>
</tr>
<tr align="center"> 
    <td width="5%" height=25>编号</td>
    <td width="25%">名称</td>
    <td width="26%">标签</td>
    <td width="32%">数据调用</td>
    <td width="12%">操作</td>
</tr>
{loop sql="select * from {$pre}block order by id desc" pages="page" urlrule="index.php"}
<tr align="center"> 
    <td height=25>{$r.id}</td>
    <td>{$r.title}</td>
    <td>{$r.tag}</td>
    <td><input name="textfield" type="text" id="textfield" value="{literal}{get_block tag={/literal}'{$r.tag}'{literal}}{/literal}" size="25" /></td>
    <td><a href="index.php?m=91736&c=block&f=edit&id={$r.id}">编辑</a> | <a href="index.php?m=91736&c=block&f=delete&id={$r.id}">删除</a></td>
</tr>
{/loop}
<tr>
	<td height="25" align="center" colspan="8" class="tdpage">{$pages}</td>
</tr>
</table>
{/nocache}
{include file="admin/footer.html"}
</body>
</html>