{include file="admin/top.html"}
{nocache}
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="tableBorder">
  <tr>
    <th height="25">栏目管理</th>
  </tr>
  <tr>
    <td height=25 class="pl20"><b>管理选项：</b><a href="index.php?m=91736&c=category">管理首页</a> | <a href="index.php?m=91736&c=category&f=add">添加栏目</a> | <a href="index.php?m=91736&c=category&f=cache">更新栏目缓存</a> | [<a href="javascript:location.reload()">刷新页面</a>]</td>
  </tr>
</table>
<table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" class="tableBorder">
<form id="form1" name="form1" method="post" action="index.php?m=91736&c=category&f=sort_save">
<tr>
    <th colspan=6 height=25>栏目列表</th>
</tr>
<tr align="center"> 
    <td width="11%" height=25>ID</td>
    <td width="11%">排序</td>
    <td width="22%">栏目名称</td>
    <td width="13%">绑定模型</td>
    <td width="9%">数据量</td>
    <td width="34%">操作</td>
</tr>
{$categorylist}
<tr>
    <td width="11%" height=25>&nbsp;</td>
    <td colspan=5>&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="button" id="button" value="排序" class="inputs" /></td>
</tr>
</form>
</table>
{/nocache}
{include file="admin/footer.html"}
</body>
</html>