{include file="admin/top.html"}
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="tableBorder">
  <tr>
    <th height="25">个人信息管理</th>
  </tr>
  <tr>
    <td height=25 class="pl20"><b>管理选项：</b><a href="index.php?m=91736&c=index&f=edit">修改密码</a> | [<a href="javascript:location.reload()">刷新页面</a>]</td>
  </tr>
</table>
<table width="100%" border="0" align="center" cellspacing="1" cellpadding="2" class="tableBorder mt6">
<form name="addform" action="index.php?m=91736&c=index&f=editsave" method="post">
    <tr>
    <th colspan="4">修改密码</th>
  </tr>
  <tr>
    <td width="22%" align="right">用户名：</td>
    <td width="78%" colspan="3">{$adminuser}</td>
  </tr>
  <tr>
    <td align="right">旧密码:</td>
    <td colspan="3"><input type="password" name="oldpassword" class="txt" size="30"> 必须正确填写旧密码才能修改</td>
  </tr>
  <tr>
    <td align="right">新密码:</td>
    <td colspan="3"><input type="password" name="password" class="txt" size="30"></td>
  </tr>
  <tr>
    <td align="right">确认新密码:</td>
    <td colspan="3"><input type="password" name="password2" class="txt" size="30"></td>
  </tr>
  <tr>
    <td colspan="4" align="right" class="tdpage">
      <input type="submit" name="submit" value=" 保 存 " class="inputs" /></td>
    </tr>
  </form>
</table>
{include file="admin/footer.html"}
</body>
</html>
