{include file="admin/top.html"}
{nocache}
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="tableBorder">
  <tr>
    <th height="25">内容管理</th>
  </tr>
  <tr>
    <td height=25 class="pl20"><b>管理选项：</b><a href="index.php?m=91736&c=content&catid={$catid}">管理首页</a> | <a href="index.php?m=91736&c=content&f=add&catid={$catid}"><span class="f00">发布信息</span></a> | <a href="index.php?m=91736&c=transfer&catid={$catid}">数据转移</a> | [<a href="javascript:location.reload()">刷新页面</a>]</td>
  </tr>
</table>
<table width="100%" border="0" align="center" cellspacing="1" cellpadding="2" class="tableBorder mt6">
<form name="addform" action="index.php?m=91736&c=transfer&f=transfer_save" method="post">
    <tr>
    <th colspan="4">栏目内容转移</th>
  </tr>
  <tr>
    <td width="17%" align="right">转移栏目下属内容：</td>
    <td width="83%" colspan="3">
      <select name="fromcate" size="15" id="fromcate" style="width:160px;">
      {$categorylist}
      </select> 
      转移至
      <select name="tocate" size="15" id="tocate" style="width:160px;">
      {$categorylist}
      </select> 
    </td>
  </tr>
  <tr>
    <td colspan="4" align="right" class="tdpage">
      <input type="submit" name="submit" value=" 确认转移 " class="inputs" /></td>
    </tr>
  </form>
</table>
{/nocache}
{include file="admin/footer.html"}
</body>
</html>
