{include file="admin/top.html"}
{nocache}
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="1" class="tableBorder">
  <tr>
    <th height="25">静态生成管理</th>
  </tr>
  <tr>
    <td height=25 class="pl20"><b>管理选项：</b><a href="index.php?m=91736&c=creathtml&f=update_index">更新首页</a> | <a href="index.php?m=91736&c=categorytree&f=category_tree">更新栏目页</a> | <a href="index.php?m=91736&c=categorytree&f=show_tree">更新内容页</a> | <a href="index.php?m=91736&c=categorytree">更新URL</a> | [<a href="javascript:location.reload()">刷新页面</a>]</td>
  </tr>
</table>
<table width="100%" border="0" align="center" cellspacing="1" cellpadding="2" class="tableBorder mt6">
<form name="addform" action="index.php?m=91736&c=creathtml&f=update_save" method="post">
    <tr>
    <th colspan="2">更新内容页Html</th>
  </tr>
  <tr>
    <td width="20%" align="right">选择栏目范围:<br>(可多选)</td>
    <td><select name="category[]" size="15" multiple="multiple" id="category[]" style="width:160px;">
        {$categorylist}
    </select></td>
    </tr>
  <tr>
    <td width="20%" align="right">&nbsp;</td>
    <td>每轮更新信息：
      <input name="infonumber" type="text" id="infonumber" value="100" size="4" /> 条  <input type="submit" name="submit" value=" 开始更新 " class="inputs" /><input name="tag" type="hidden" id="tag" value="show" /></td>
  </tr>
  
  <tr>
    <td colspan="2" align="right" class="tdpage">      </td>
    </tr>
  </form>
</table>
{/nocache}
{include file="admin/footer.html"}
</body>
</html>
