<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{if $cat['seo_title']==''}{$cat['catname']}{else}{$cat['seo_title']}{/if}</title>
<meta name="Keywords" content="{$cat['seo_key']}" />
<meta name="Description" content="{$cat['seo_des']}" />
<base href="{$config['siteurl']}">
<link href="{$css_path}css.css" type=text/css rel=stylesheet>
</head>

<body>
{include file="default12/header.html"}
<div class="main t5">
{include file="default12/left.html"}
    <div class="right">
    	<h1><span><a href="/">首页</a> > {$cat['catname']}</span><div>{$cat['catname']}</div></h1>
        <div class="content">
        {loop catid=$cat['catid'] more=1 rows=1}
            {$r.content}
        {/loop}
        </div>
    </div>
</div>
{include file="default12/footer.html"}
</body>
</html>