<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{$rs.title}</title>
<meta name="Keywords" content="{$rs.keywords}" />
<meta name="Description" content="{$rs.description}" />
<base href="{$config['siteurl']}">
<link href="{$css_path}css.css" type=text/css rel=stylesheet>
</head>

<body>
{include file="default12/header.html"}
<div class="main t5">
{include file="default12/left.html"}
    <div class="right">
    	<h1><span><a href="/">首页</a> > {$cat['catname']}</span><div>{$cat['catname']}</div></h1>
        <div class="content">
        	<h2>{$rs.title}</h2>
            <h5>发布时间：{$rs.inputtime|date_format:'%Y-%m-%d %H:%M:%S'} 点击浏览：<script src="index.php?m=content&c=index&f=hits&contentid={$rs.contentid}"></script>次 <a href="{$rs.files}"><font color=#ff0000>文件下载</font></a></h5>
            <div>{$rs.content}</div>
        </div>
    </div>
</div>
{include file="default12/footer.html"}
</body>
</html>